{% extends 'base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block body %}
    <h1>Create new Profile</h1>

    {{ include('profile/_form.html.twig') }}
    <img width="400" src="" id="avatar">
    <a href="{{ path('profile_index') }}">back to list</a>
{% endblock %}